body {
    background: #222;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
}

* {
    color: whitesmoke;
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100px;
    min-width: 100px;
}
